<launch>
  <arg name="group_name" default="group" />
  <arg name="server_py" default="false" />
  <arg name="client_py" default="false" />

  <group ns="$(arg group_name)">
    <node pkg="ur5_lego" type="task_server_example" name="task_server_example" output="screen" unless="$(arg server_py)" />
    <node pkg="ur5_lego" type="py_task_server_example.py" name="py_task_server_example" output="screen" if="$(arg server_py)" />

    <node pkg="ur5_lego" type="task_planner" name="task_planner" args="52 3" output="screen" unless="$(arg client_py)" />
    <node pkg="ur5_lego" type="py_task_planner.py" name="py_task_planner" args="52 3" output="screen" if="$(arg client_py)" />
  </group>
</launch>
