<launch>
  <group ns="ur5_lego">
    <node pkg="ur5_lego" type="vision_node.py" name="vision_node" output="screen"/>
    <node pkg="ur5_lego" type="pointcloud_node.py" name="pointcloud_node" output="screen"/>

    <node pkg="ur5_lego" type="motion_planner" name="motion_planner" output="screen"/>
    <node pkg="ur5_lego" type="task_planner" name="task_planner" output="screen"/>
  </group>
</launch>
